@import './styles/fonts.css';
@import './styles/globalcolors.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Creepster', sans-serif;
}

