:root {
  --primary: #F27935;
  --secondary: #FEDEAF;
  --background: #241720;
}

.Row {
    height: calc(100vh - 81px);
    border: none;
  }

  .Input {
    background: var(--secondary);
    border: 1px solid var(--secondary);
    box-sizing: border-box;
    border-radius: 8px;
    text-align: left;
    padding: 10px;
  }
  
  Button:hover {
    background-color: transparent;
    
  }

  .DefaultImage {
    padding: 1.5px;
    border-radius: 1em;
  }

  /* .Header {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 8px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--primary);
  } 

  .Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    padding: 8px;
  }
  
  .Link span {
    color: var(--primary);
  }
  
  .Container {
    padding: 0px 10px;
    display: block;
    text-align: center;
  }
  
  .SignInCol {
    height: 320px;
  }
  
  .SignUpCol {
    height: 375px;
  }
  
  /* Mobile */
  @media screen and (min-width: 320px) {
    .Header {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 19px;
      text-align: center;
      padding-bottom: 16px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--primary);
    }

  }

   /* Tablet */
   @media screen and (min-width: 768px) {


   }

     /* Desktop */
  @media screen and (min-width: 1024px) {

  }