@import './styles/fonts.css';
@import './styles/globalcolors.css';

.App {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--primary);
  }
  
  * {
    box-sizing: border-box;
  }

h1, h2 {
  font-family: 'Creepster', sans-serif;
}

h3,h4, p {
  font-family: 'Inter', sans-serif;
}

  .Main {
    padding-top: 81px;
  }
  
  a {
    color: var(--secondary);
  }
  
  a:hover {
    text-decoration: none;
    color: var(--primary);
  }
  
  i {
    vertical-align: middle;
    color: var(--secondary);
    font-size: 25px;
    padding: 8px;
  }
  
  i:hover {
    color: var(--primary);
    cursor: pointer;
    transition: color ease-in-out 0.2s;
  }

  .NavBar {
    background-color: var(--background);
    border: 1px solid var(--background);
  }

  .NavLink {
    padding: 5px;
  }

  .Active span, .Active i {
    color: var(--primary);
  }

  .Content {
    background-color: #241720;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }
  
  .FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }

  input[type="file"] {
    display: none;
  }

  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* Mobile */
  @media screen and (min-width: 320px) {
    h1 {
      font-size: 48px;
      text-shadow: 1.5px 1.5px var(--secondary);
    }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 20px;
      padding: 0 0 16px 0;
    }
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 14px;
    }
    button {
      font-size: 16px;
      font-weight: bold;
    }
    
    .LandingPageHeader {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .Button1 {
      background-color: var(--secondary);
      color: var(--background);
      padding: 10px 20px;
      border: 1px solid var(--secondary);
      border-radius: 8px;
      margin: 16px 8px 0 8px;
    }

    .Button2 {
      background-color: transparent;
      color: var(--secondary);
      border: 1px solid var(--secondary);
      padding: 10px 20px;
      border: 1px solid var(--secondary);
      border-radius: 8px;
      margin: 0 auto;
    }
  }

  /* Tablet */
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 80px;
    }
    h2 {
      font-size: 40px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
    button {
      font-size: 18px;
    }

    .LandingPageHeader {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

    
    .Button1, .Button2 {
      transition: .5s ease;
    }

    .Button1:hover {
      background-color: var(--background);
      color: var(--primary);
      border: 1px solid var(--primary);
      box-shadow: 0 0 5px var(--primary);
    }

    .Button2:hover {
      background: var(--background);
      color: var(--secondary);
      border: 1px solid #ffffff;
      text-shadow: 0 0 5px var(--primary),
                  0 0 10px var(--primary),
                  0 0 20px var(--primary);;
      box-shadow: 0 0 5px var(--primary),
                  0 0 10px var(--primary),
                  0 0 20px var(--primary);
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 120px;
    }
    h2 {
      font-size: 60px;
    }
    h3 {
      font-size: 40px;
    }
    h4 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
    button {
      font-size: 20px;
    }

    .Button2 {
      background-color: transparent;
      color: var(--secondary);
      border: 1px solid var(--secondary);
      padding: 10px 20px;
      border-radius: 8px;
      margin: 0 auto;
      transition: .5s ease;
    }

    .Button2:hover, :focus {
      background: var(--secondary);
      border: 1px solid var(--primary);
    }
  }