@import './styles/fonts.css';
@import './styles/globalcolors.css';

.App {
    min-height: 100vh;
    background-color: var(--background);
    color: var(--primary);
  }
  
  * {
    box-sizing: border-box;
  }

h1, h2 {
  font-family: 'Creepster', sans-serif;
}

h3,h4, p {
  font-family: 'Inter', sans-serif;
}

  .Main {
    padding-top: 81px;
  }
  
  a {
    color: var(--secondary);
  }
  
  a:hover {
    text-decoration: none;
    color: var(--primary);
  }
  
  i {
    vertical-align: middle;
    color: var(--secondary);
    font-size: 25px;
    padding: 8px;
  }
  
  span:hover {
    color: var(--primary);
    cursor: pointer;
    transition: color ease-in-out 0.2s;
  }

  .NavBar {
    background-color: var(--background);
    border: 1px solid var(--background);
  }

  .NavLink {
    padding: 5px;
  }

  .Active span, .Active i {
    color: var(--primary);
  }

  .Content {
    background-color: #241720;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
  }
  
  .FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
  }

  input[type="file"] {
    display: none;
  }

  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #555;
  }